$color-background: #111;
$color-background-shadow: #00000050;
$color-background-shadow-light: #22222250;
$color-black: #000000;

$color-white: #CCC;
$color-link: #AAA;
$color-link-hover: #DDD;

$color-primary: #fa6900;
