$color-background: #111;
$color-background-shadow: #00000050;
$color-background-shadow-light: #22222250;
$color-black: #000000;

$color-white: #DDD;
$color-link: #AAA;
$color-link-hover: #DDD;

$color-primary: #fa6900;

$color-music-one: #201E1F;
$color-music-two: #3D3D3D;
$color-music-three: #3C282F;
$color-music-four: #FF5E79;
$color-music-five: #FF1C42;

$color-music-five-alpha: #FF1C4210;